* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #3339cb;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

button {
  font-size: 1.2rem;
}

/* navbar */

header {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
  z-index: 1;
  color: #fff;
}

.page-title {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  &:hover {
    text-decoration: underline;
  }
}

/* Hero section */

#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/Hero.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: 0;
}

#hero div h2,
#hero div p {
  color: white;
  z-index: 1;
}

#hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contact-button {
  z-index: 1;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0.3rem 1.4rem;
  gap: 10px;
  cursor: pointer;
  border: none;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: var(--accent-color);
    color: white;
  }
}

.contact-button > img {
  width: 60px;
}

.contact-button:hover > img {
  filter: invert(100%);
  transition: all 300ms ease-in-out;
}

p {
  font-size: 1.5rem;
  width: 50%;
}

/* Services Section */

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.service-card {
  border: 3px solid var(--accent-color);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 0.3fr 0.8fr;
  gap: 15px;
  width: 310px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.service-card div {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.service-card img {
  width: 80%;
}

.service-card h3,
.service-card p {
  text-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
}
