@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  display: none;
}
@media (min-width: 900px) {
  h1 {
    display: block;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

button {
  font-size: 1.2rem;
}

/* navbar */
header {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
  z-index: 1;
  color: #fff;
}

.page-title {
  display: flex;
  align-items: center;
}

.nav {
  background-color: #3339cb;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  overflow: hidden;
  transform: translateX(100%);
  padding-bottom: 15px;
  padding-top: 15px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 900px) {
  .nav {
    flex-direction: row;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    transform: translateX(0);
    background-color: transparent;
    margin-right: 20px;
    gap: 10px;
    align-items: center;
  }
  .nav .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 90px;
  }
}

.menu {
  position: absolute;
  right: 10px;
  top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 10;
}
@media (min-width: 900px) {
  .menu {
    display: none;
  }
}
.menu .menu-trigger {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.menu .menu-trigger, .menu::after, .menu::before {
  content: "";
  width: 60px;
  height: 10px;
  background-color: #FFF;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  transform-origin: right center;
}
.menu:has(input:checked)::before {
  transform: rotate(-45deg);
  width: 56.5685424949px;
  translate: 0 -5px;
}
.menu:has(input:checked)::after {
  transform: rotate(45deg);
  width: 56.5685424949px;
  translate: 0 5px;
}
.menu:has(input:checked) .menu-trigger {
  opacity: 0;
  width: 0;
}

.menu:has(input:checked) + .nav {
  transition: all 0.3s ease-in-out;
  width: 300px;
  transform: translateX(0);
}

.nav-list {
  list-style: none;
}
.nav-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}
.nav-list li a:hover {
  text-decoration: underline;
}

/* Hero section */
#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-inline: 8px;
  gap: 20px;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/Hero.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: 0;
}

#hero div h2,
#hero div p {
  color: white;
  z-index: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  #hero h2 {
    margin-top: 105px;
  }
}

#hero div p {
  width: 50%;
}
@media (max-width: 800px) {
  #hero div p {
    width: 100%;
  }
}

#hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contact-button {
  z-index: 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0.3rem 1.4rem;
  gap: 10px;
  cursor: pointer;
  border: none;
  transition: all 300ms ease-in-out;
}
.contact-button:hover {
  background-color: #3339cb;
  color: white;
}

.contact-button > img {
  width: 60px;
}

.contact-button:hover > img {
  filter: invert(100%);
  transition: all 300ms ease-in-out;
}

.arrow.down {
  z-index: 10;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
p {
  font-size: 1.5rem;
  width: 50%;
}

/* Services Section */
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;
}

#services h2 {
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.service-card {
  border: 3px solid #3339cb;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 0.3fr 0.8fr;
  gap: 15px;
  width: 310px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.service-card div {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.service-card img {
  width: 60%;
  height: 214px;
}

.service-card h3,
.service-card p {
  text-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.service-card p {
  color: rgba(0, 0, 0, 0.6);
  padding: 5px;
}

.service-button {
  background-color: transparent;
  border: 2px solid #3339cb;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

/* Por que nosotros */
#whyus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-block: 80px;
}

#whyus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/services.webp");
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: -1;
}

#whyus h2 {
  text-align: center;
}

#whyus h2,
#whyus h3,
#whyus p {
  color: #fff;
}

.whycards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
  gap: 25px;
  justify-items: center;
}
@media (max-width: 800px) {
  .whycards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
}

.whycards-container > div {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  width: 75%;
}
@media (max-width: 800px) {
  .whycards-container > div {
    width: 100%;
  }
}

.whycards-container img {
  filter: invert(100%);
}

.why-heading {
  display: flex;
  gap: 10px;
}

.why-title {
  width: 100%;
  justify-self: center;
  text-align: start;
}

.why-description {
  width: 60%;
  font-size: 1.1rem;
  width: 100%;
}

/* footer */
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3339cb;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 10px;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 50px;
  padding-inline: 100px;
}
@media (max-width: 800px) {
  #contact {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}

#contact img {
  filter: invert(100%);
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 90%;
  height: 90%;
}
@media (max-width: 600px) {
  iframe {
    width: 100%;
    height: 100%;
  }
}

#contact h2 {
  font-size: 1.8rem;
}

.footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.copyright {
  grid-column: 1/3;
  justify-self: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.contact-info-item p {
  width: 100%;
}

@media (max-width: 600px) {
  .footer-nav-container {
    display: none;
  }
}

#contact nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact li a {
  color: #FFF;
  text-decoration: none;
}

#contact li:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

#contact p {
  width: 100%;
}

.copyright {
  text-align: center;
}

@media (max-width: 600px) {
  span {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */