@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --accent-color: #3339cb;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

button {
  font-size: 1.2rem;
}

/* navbar */

header {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
  z-index: 1;
  color: #fff;
}

.page-title {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  &:hover {
    text-decoration: underline;
  }
}

/* Hero section */

#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/Hero.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: 0;
}

#hero div h2,
#hero div p {
  color: white;
  z-index: 1;
}

#hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contact-button {
  z-index: 1;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0.3rem 1.4rem;
  gap: 10px;
  cursor: pointer;
  border: none;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: var(--accent-color);
    color: white;
  }
}

.contact-button > img {
  width: 60px;
}

.contact-button:hover > img {
  filter: invert(100%);
  transition: all 300ms ease-in-out;
}

p {
  font-size: 1.5rem;
  width: 50%;
}

/* Services Section */

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;
}

.cards-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.service-card {
  border: 3px solid var(--accent-color);
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 0.3fr 0.8fr;
  gap: 15px;
  width: 310px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.service-card div {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.service-card img {
  width: 60%;
  height: 214px;
}

.service-card h3,
.service-card p {
  text-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.service-card p {
  color: rgba(0, 0, 0, 0.6);
  padding: 5px;
}

.service-button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

/* Por que nosotros */

#whyus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-block: 80px;
}

#whyus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/services.webp');
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: -1;
}

#whyus h2,
#whyus h3,
#whyus p {
  color: #fff;
}

.whycards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
  gap: 25px;
  justify-items: center;
}

.whycards-container > div {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  width: 75%;
}

.whycards-container img {
  filter: invert(100%);
}

.why-heading {
  display: flex;
  gap: 10px;
}

.why-title {
  width: 100%;
  justify-self: center;
  text-align: start;
}

.why-description {
  width: 60%;
  font-size: 1.1rem;
  width: 100%;
}

/* footer */

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--accent-color);
  color: #fff;
  padding-top: 80px;
  padding-bottom: 10px;
  column-gap: 100px;
  row-gap: 50px;
  padding-inline: 100px;
}

#contact img {
  filter: invert(100%);
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 90%;
  height: 90%;
}

#contact h2 {
  font-size: 1.8rem;
}

.footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.copyright {
  grid-column: 1 / 3;
  justify-self: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.contact-info-item p {
  width: 100%;
}

#contact nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact li:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
}
